header,footer{
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

.links{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    gap: 20px;
    align-items: center;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}
.section1{
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.t1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.text{
    color: #e5e7eb;
    font-size: 18px; 
}

.sec1left button{
    background-color:#3882f6;
    color: white;
    border-radius: 5px;
    border: none;
}

.sec1left{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    justify-content: space-evenly;
}

.sec1right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: gray;
}

.pic1{
    height: 300px;
    width: 600px;
}

.sec2title{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
}

.italypics{
    height: 150px;
    width: 250px;
}

.section2{
    display: flex;
    gap: 30px;
    justify-content:center;
    margin-bottom: 50px;
}

.pasta{
    font-size: 12px;
}

.section3{
    background-color: #e5e7eb;
    padding: 75px;
}

.quote{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.quoter{
    font-size: 20px;
    text-align: right;
}

.section4{
    display: flex;
    justify-content: space-evenly;
    background-color: #3882f6;
    height: 200px;
    width: 600px;
    border: 1px solid #3882f6;
    border-radius: 5px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sec4text{
    color: white;
    font-size: 30px;
}

.sec4subtext{
    color: white;
    font-size: 18px;
}

.sec4left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec4right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec4right button{
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: #3882f6;
}

.copyright{
    justify-content:center;
    color: #f9faf8;
}